:root {
  --color-primary: #321325;
  --color-secondary: #05A8AA;
  --color-text-light: #D1DEE1;

  --color-background: #321325;
  --color-surface: #402036;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text-light);
  font-family: "Subway", system-ui, sans-serif;
  line-height: 1.5;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
